html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

#bg {
  width: 98vw;
  height: 70vh;
  position: absolute;
  right: 0;
}

#scary {
  width: 20%;
  z-index: 1;
  filter: saturate(100);
  position: absolute;
  top: 0;
  left: 0;
}